* {
    margin: 0 auto;
}

.text-expli {
    padding: 20px 0px 0px 30px;
}

.form-cal {
    list-style: none;
    padding: 20px 0px 0px 30px;

}

.resultado {
    list-style: none;
    padding: 20px 0px 0px 30px;
}

.saludo {
    list-style: none;
    padding: 20px 0px 0px 30px;
}

.registro {
    list-style: none;
    padding: 20px 0px 0px 30px;
}